<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Gestão Marabá</a>
        <div class="navbar-nav">
            <a class="nav-link" href="/customer">Clientes</a>
            <a class="nav-link" href="/product">Produtos</a>
            <a class="nav-link" href="/stock">Estoque</a>
            <a class="nav-link" href="/order">Pedidos</a>
        </div>
    </div>
</nav>